@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oregano:ital@0;1&display=swap');


.font-isans{
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-oregano {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-oregano-italic {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: italic;
}

.font-inter{
  font-family: "Inter", sans-serif;
}

.font-boldness {
    font-weight: 500;
}

.shadow-box {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    overflow: visible;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

/* ScrollBar Adjustment */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.7); 
  animation-duration: 300ms;
  
}
