@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-dmsans{
    font-family:  'DM Sans', sans-serif;
}

.font-ralway {
    font-family: Raleway, sans-serif;
}

.font-boldness {
    font-weight: 400;
}

.shadow-box {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.mask-gradient-fade {
  -webkit-mask-image: linear-gradient(to top, black 60%, transparent );
  mask-image: linear-gradient(to top, black 60%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}